/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #c2c0bf rgba(0, 0, 0, 0);
  font-family: "Roboto Flex", sans-serif;
  font-stretch: 120%;
  color: #0d0d0d;
  box-sizing: border-box;
}

html, body, #root {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: var(--kq-brand-secondary);
  background-color: var(--background-color);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c2c0bf;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/* CSS Variables */
:root {
  --kq-brand-primary: #ed1c24;
  --kq-brand-secondary: #0d0d0d;
  --kq-grey1: #0d0d0d;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --kq-brand-secondary: #fff;
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navigation Styles */
nav {
  @apply py-4;
}

nav ul {
  @apply flex space-x-4;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  @apply inline;
}

.link {
  @apply text-inherit no-underline transition-all duration-300;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 4px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}

.link.active {
  @apply font-bold;
}

.link.active::after {
  background-color: red;
}
