.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 50;
  transition: transform 0.3s ease-in-out;
}

.menuOpen {
  transform: translateX(0);
}

.menuClosed {
  transform: translateX(-100%);
}